html {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5;
}

form {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 1px solid #999;
  display: none;
  min-height: 150px;
  max-height: 150px;
}

.nav-up {
	height: 60px;
}

.main {
	position: fixed;
	left: Calc(100%/6);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  overflow: scroll;
  border-left: 1px solid #ccc;
  margin-top: 60px;
}

.brand-offset {
	position: absolute;
	left: 30px;
}

#message,
#name {
	width: 80%;
  margin: 20px auto 20px auto;
}

#messages {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  overflow: scroll;
  margin-top: 60px;
  margin-bottom: 150px;
}

.system {
  font-weight: bold;
  color: #f00;
}