{% extends "base.html" %}

{% load url from future %}
{% block title %}FakeTwitch{% endblock %}
{% block page_title %}
<a class="brand-logo center"><span class="large material-icons dp48">video_library</span>FakeTwitch</a>
{% endblock %}

{% block extra_js %}
<script>$(showForm);</script>
{% endblock %}

{% block main %}
<div class="row">
{% for room in rooms %}
  <div class="col s12 m6 l4">
  <div class="card">
    <a href="{{ room.get_absolute_url }}">
      <div class="card-image">
        <img src="{{ STATIC_URL }}hydai.jpg">
        <span class="card-title">{{ room }}</span>
      </div>
    </a>
    <div class="card-content">
      <p>{{ room.description|linebreaks }}</p>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-teal btn-flat" href="{{ room.get_absolute_url }}">Watch now</a>
    </div>
  </div>
</div>
{% empty %}
<p>There are currently no rooms!</p>
{% endfor %}
<br clear="all">
</div>
{% endblock %}

