{% extends "base.html" %}

{% block title %}
{{ room }}
{% endblock %}

{% block page_title %}
{{ room }}: {{ room.description }}
{% endblock %}

{% block extra_js %}
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="{{ STATIC_URL }}js/AC_QuickTime.js" language="JavaScript" type="text/javascript"></script>
{% load socketio_tags %}
{% socketio %}
<script src="{{ STATIC_URL }}js/chat.js"></script>
<script>
window.room = {{ room.id }};
</script>
{% endblock %}

{% block main %}
<div class="card-panel hoverable">
  <script language="JavaScript" type="text/javascript">
  QT_WriteOBJECT_XHTML('{{ STATIC_URL }}hydai.jpg', '800', '600', '',
    'scale','tofit',
    'controller', 'true',
    'target', 'myself',
    'qtsrc', '{{ room.stream_src }}',
    'autoplay', 'true',
    'type', 'video/quicktime');
  </script>
</div>
{% endblock %}

{% block form %}
<ul id="messages" class="collection indigo lighten-5 col s3 z-depth-5">
  <script type="text/x-jquery-tmpl">
    <li class="${action} collection-item">[${time}] ${name}: ${message}</li>
  </script>
</ul>
<form class="blue-grey lighten-5 col s3 z-depth-5">
  <div class="row">
    <div class="col s12">
      <input type="text" id="message" name="message">
    </div>
    <div class="col s12">
      <button class="btn waves-effect waves-teal" type="submit" id="submit" value="Join">Join</button>
      <button class="btn waves-effect waves-red" type="button" id="leave" value="Leave">Leave</button>
    </div>
  </div>
</form>
{% endblock %}